header 
    nav
        a(href="./")
            h2 Ir a home
        a(href="./about")
            h2 Ir a about
        a(href="./location")
            h2 Ir a location
        a(href="./mission")
            h2 Ir a mission
        a(href="./contact")
            h2 Ir a contact



